*{
    margin: 0;
    padding: 0;
}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}
body{
    background-color: rgb(37,40,42);
}

.slider{
    width: 800px;
    height: 600px;
    overflow: hidden;
    border:10px solid rgb(243, 112, 52);
}


.navigation{
    transform: translateX(-50%);
    display: flex;
}

.bar{
    margin: 6px;
    position: relative;
    left: 100px;
    bottom: 60px;
    height: 30px;
    width: 30px;
    opacity: .9;
    cursor:pointer    ;
    background-color: rgb(37,40,42);
    border-radius: 50%;
    border: 3px solid rgb(243, 112, 52);
    transition: all .4s ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 100%;
    height: 100%;
    display: flex;
}

.slide{
    width: 100%;
    transition: all .6s ease;
}
.slide img{
width: 800px;
height: 100%;
}

#r1:checked ~  .s1{
    margin-left: 0;
}
#r2:checked ~  .s1{
    margin-left: -100%;
}
#r3:checked ~  .s1{
    margin-left: -200%;
}
#r4:checked ~  .s1{
    margin-left:-300%;
}
