@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    max-height: 700px;
    margin: auto;
    margin-top: 50px;
}
body{
    background-color: rgb(37,40,42);
}

.slider{
    width: 100%;
    max-width: 700px;
    height: 700px;
    border:2px solid rgb(243, 112, 52);
}
.images{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.texts{
    display: flex;
}

.aboba{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation{
    display: flex;
}
.bar{
    margin: 6px;
    height: 30px;
    width: 30px;
    opacity: .9;
    cursor:pointer;
    background-color: rgb(243, 112, 52);
    border-radius: 50%;
    border: 3px solid rgb(243, 112, 52);
    transition: all .4s ease;
}


input[name="r"]{
    position: absolute;
    visibility: hidden;
}


.slide img{
width: 100%;
}
p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 112, 52);
}

.texts{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    max-height: 40px;
}
#r1:checked ~ .images .s1{
    margin-top: 0;
}
#r2:checked ~ .images .s1{
    margin-top: -100%;
}
#r3:checked ~ .images .s1{
    margin-top: -200%;
}
#r4:checked ~ .images .s1{
    margin-top: -300%;
}

#r1:checked ~ .aboba .texts .s1{
    margin-top: 0px;
}
#r2:checked ~ .aboba .texts .s1{
    margin-top: -25%;
}
#r3:checked ~ .aboba .texts .s1{
    margin-top: -50%;
}
#r4:checked ~ .aboba .texts .s1{
    margin-top: -75%;
}
.bar:hover{
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(37,40,42);
    border: 3px solid rgb(243, 112, 52);
}
#r1:checked ~ .aboba .navigation  .bar:nth-of-type(1),
#r2:checked ~ .aboba .navigation  .bar:nth-of-type(2),
#r3:checked ~ .aboba .navigation  .bar:nth-of-type(3),
#r4:checked ~ .aboba .navigation  .bar:nth-of-type(4){
    opacity: 1;
    transform: scale(1.1);
    background-color: rgb(37,40,42);
    border: 3px solid rgb(243, 74, 52);
}
@media screen and (max-width:420px){
    .conteiner{
        max-width: 420px;
        max-height: 420px;
    }
    .slider{
        max-width: 370px;
        max-height: 370px;
    }
    .aboba{
        flex-direction: column;
        align-items: center;
    }
    .aboba .navigation{
        order:-1;
    }
    .aboba .texts{
        margin-top: 20px;
        margin-left: 15px;
    }
    
}