*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(107, 98, 96);
}

.slider{
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border:10px solid #fff;
}

.middle{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigetion{
    position: absolute;
    bottom: 16px;
    left:50px;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor:pointer    ;
    background-color: #ddd;
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

